/* IMPORT */

@import "fonts.css";

/* ALL */

html {
}
body {
  line-height: 1.5;
  font-family: "DM Sans", sans-serif;
}
/* RESET */
a {
  text-decoration: none;
}
.textcolor-white {
  color: #fff;
}
.width-height-picture-mb {
  content: " ";
  display: flex;
  width: 238px;
  height: 238px;
  border-radius: 238px;
  border: 1px solid #202020;
  background: rgba(30, 29, 29, 0.2);
}
.gray-text {
  color: var(--gray-3, #828282);
}
.bg-span {
  content: " ";
  background-color: #212121;
}
.bg-gray{
  background: #212121;;
}
.width-height-special-mb {
  width: 210px;
  height: 210px;
}
@media (min-width:1180px){
  .width-height-picture{
    width: 550px;
    height: 550px;
    content: " ";
    display: flex;
  ;
    border: 1px solid #202020;
    background: rgba(30, 29, 29, 0.2);
  }
  .width-height-special {
    width: 500px;
    height: 500px;
  }
}

.bn {
  padding: 0.9em 1.6em;
  border: none;
  outline: none;
  color: #FFF;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  position: relative;
  z-index: 0;

}

.bn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(46, 46, 46);
  left: 0;
  top: 0;
}

.bn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #07d888, #e40851, #2f00ff, #00ff37,
      #ec0808, #2600ff, #0bd157, #2f00ff
);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing345 20s linear infinite;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

@keyframes glowing345 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.bn:hover::before {
  opacity: 1;
}

.bn:active:after {
  background: transparent;
}

.bn:active {
  color: #000;
  font-weight: bold;
}
.gray-text2{
  color:#535353;
}
.gray-2{
  color : #4F4F4F;
}
.border-gray{
  border-bottom:#4F4F4F ;
}